{{define "body"}}
Hello {{.FirstName}},

You cencently requested to reset your password. This link expires in 60 minutes.

Here is the link to do it. If it was not you then please ignore it.

{{.Link}}

Thank you {{.FirstName}},

Your Customer Support Team
Hamburg, Germany
{{end}}

