{{define "body"}}
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h2>Hello {{.FirstName}},</h2>
    <p>You cencently requested to reset your password. This link expires in 60 minutes.</p>
    <p>Here is the link to do it. If it was not you then please ignore it</p>
    <h3>Link</h3>
    <p><a href="{{.Link}}">Click here to reset your password.</a></p>
    <p>Thank you for your interest in us {{.FirstName}}.</p>
  </body>
</html>
{{end}}

